%link-no-udl {
  &, 
  &:active, 
  &:focus, 
  &:visited,
  &:hover{
  	text-decoration: none;
  }
}

%link-hover-bdb{
	position: relative;
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: -1px;
		left: 0; 
		width: 0;
		height: 1px;
		background-color: $color--main;
		@include transition(width .2s ease-in-out);
	}
	&:hover{
		&:after{
			width: 100%;
		}
	}
}