// A365

.project{
	&--a365 &__cover{
		height: 240px;
		@media(min-width: 480px){
			height: 280px;
		}
		@media(min-width: $screen-sm-min){
			height: 320px;
		}
		@media(min-width: $screen-md-min){
			height: 360px;
		}
	}
	&--a365 &__showcase{
		margin-top: -96px;
		@media(min-width: $screen-sm-min){
			margin-top: -128px;
		}
		@media(min-width: $screen-md-min){
			margin-top: -144px;
		}
		img{
			width: 70%;
			@media(min-width: $screen-sm-min){
				width: 60%;
			}
			@media(min-width: $screen-md-min){
				width: 50%;
			}
		}
	}
	&--a365 &__screenshot{
		margin-bottom: 0;
		background-color: material-color('grey','100');
	}
}